<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="studentByXml" class="com.sky.entity.Student">
        <property name="firstName" value="Micheal"/>
        <property name="lastName" value="Jordan"/>
    </bean>

    <bean id="student2" class="com.sky.entity.Student">
        <property name="firstName" value="Kobe"/>
        <property name="lastName" value="Bryant"/>
    </bean>

    <bean id="klass1" class="com.sky.entity.Klass">
        <property name="student" ref="studentByXml"></property>
        <property name="studentList">
            <list>
                <ref bean="studentByXml"/>
                <ref bean="student2"/>
            </list>
        </property>
    </bean>

    <bean id="school1" class="com.sky.entity.School">
        <property name="klassList" ref="klass1"></property>
    </bean>
    <context:component-scan base-package="com.sky"/>
</beans>